.title {
    font-family: 'Sacramento', sans-serif;
    font-size: 90px;
    color: #CCAA98;
    text-shadow: 4px 4px 0 #000;
}

.title.-second {
    color: #fff;
    text-shadow: none;
    text-align: center;
}